# Login credentials for the inwx admin interface
INWX_USER="USERNAME"
INWX_PASS='PASSWORD'

# From which site should we get your WAN IP?
IP_CHECK_SITE="icanhazip.com"

# Log file name.
LOG="inwx_update.log"
